@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans cursor-default dark:bg-slate-900 dark:text-white;
  }
  input, select, textarea {
    @apply bg-white text-black placeholder:text-zinc-300;
  }
  img {
    @apply text-transparent;
  }
}

@layer utilities {
  .break-word {
    word-break: break-word;
  }
}



.dots::after {
  content: ".";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    content: "";
  }
  40% {
    content: ".";
  }
  60% {
    content: "..";
  }
  80%, 100% {
    content: "...";
  }
}